# Dependencies
**/node_modules
**/dist
**/dist-ssr
**/*.local

# Environment variables
**/.env
**/.env.local
**/.env.production.local
**/.env.development.local

# Logs
**/*.log

# OS files
.DS_Store
Thumbs.db
._*

# IDE
.vscode/
.idea/
